/*!
 * Bracket Plus Skin - Oreo
 * Author: ThemePixels (@themepixels)
 * URL: http://themepixels.me/bracketplus
**/
body {
  background-color: #fafbfe;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif; }

/***** HEADER *****/
.br-header {
  background-color: #fff; }
  .br-header::before {
    display: none; }

.br-header-left .form-control {
  background-color: transparent;
  color: #fff; }
  .br-header-left .form-control::placeholder {
    color: rgba(255, 255, 255, 0.4); }

.br-header-left .input-group {
  border-right: 1px solid rgba(255, 255, 255, 0.3); }

.br-header-left .input-group-btn .btn {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5); }
  .br-header-left .input-group-btn .btn:focus, .br-header-left .input-group-btn .btn:active {
    color: rgba(255, 255, 255, 0.7); }

.br-header-right .dropdown > a {
  color: rgba(255, 255, 255, 0.8); }
  .br-header-right .dropdown > a:hover, .br-header-right .dropdown > a:focus {
    color: #fff; }

.br-header-right .dropdown .dropdown-menu::before {
  display: none; }

.nav-link-profile {
  color: rgba(255, 255, 255, 0.8); }
  .nav-link-profile .square-10 {
    border-color: #0866C6; }
  .nav-link-profile:hover, .nav-link-profile:focus {
    color: #fff; }

.dropdown-menu-header::before {
  background-color: #0866C6;
  z-index: 1040; }

.user-profile-nav a {
  color: #6c757d; }

.user-profile-nav .icon {
  color: #0866C6; }

.navicon-left {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2); }
  .navicon-left a {
    color: rgb(0 0 0 / 60%); }
    .navicon-left a:hover, .navicon-left a:focus {
      color: #343a40; }

.navicon-right {
  border-left: 1px solid rgba(255, 255, 255, 0.3); }
  .navicon-right a {
    color: rgba(255, 255, 255, 0.8); }
    .navicon-right a:hover, .navicon-right a:focus {
      color: #fff; }

/***** SIDEBAR LEFT *****/
.br-sideleft {
  /* background-color: #313a46; */
  background: linear-gradient(#2a1c5a, #4b3a6e);
  padding: 0; }
  .br-sideleft .sidebar-label:first-child {
    color: rgb(255 255 255 / 52%); }

.br-logo {
  background: #011434;
  border-right: 0;
  font-size: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center; }
  @media (min-width: 992px) {
    .br-logo {
      border-right: 0; } }
  .br-logo > a {
    color: #fff; }
    .br-logo > a i {
      color: rgba(255, 255, 255, 0.5); }
    .br-logo > a span {
      color: #fff; }

.sidebar-label {
  color: #adb5bd;
  opacity: 1;
  margin-bottom: 0;
  padding: 15px 12px; }
  .sidebar-label.tx-info {
    color: #17A2B8; }

.br-sideleft-menu .br-menu-item:last-child .br-menu-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.04); }

.br-menu-link {
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.04);
  border-radius: 0;
  height: 60px; }
  .br-menu-link.with-sub::after {
       top: 25px;
    color: #ffffff; }
  .br-menu-link:hover, .br-menu-link:focus {
    color: #fff;
    background-color: #1caf9a; }
  .br-menu-link:focus, .br-menu-link:active {
    outline: none; }
  .br-menu-link.show-sub {
    color: #f8f9fa;
    background-color: #1caf9a; }
  .br-menu-link.active {
    color: #fff;
    background-color: #1caf9a;
    /*background-image: linear-gradient(to right, #0866C6 0%, #0759ad 100%);*/
    background-repeat: repeat-x;
    border-top-color: transparent; }
    .br-menu-link.active::after {
      color: #fff; }

.br-menu-sub {
  background-color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.07);
  border-radius: 0; }
  .br-menu-sub .sub-link:hover, .br-menu-sub .sub-link:focus {
    color: #0866C6; }
    .br-menu-sub .sub-link:hover::before, .br-menu-sub .sub-link:focus::before {
      background-color: #0866C6; }
  .br-menu-sub .sub-link.active {
    color: #0866C6; }
    .br-menu-sub .sub-link.active::before {
      background-color: #0866C6; }

.info-list {
  padding-left: 2px;
  padding-right: 2px; }

/***** SIDEBAR RIGHT *****/
.br-sideright {
  background-color: #212529; }
  .br-sideright .sidebar-label {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px; }
  .br-sideright .switch-button-background {
    background-color: #16181b; }
    .br-sideright .switch-button-background.checked {
      background-color: #17A2B8; }
  .br-sideright .switch-button-label.on {
    color: #17A2B8; }

.sidebar-tabs {
  background-color: #1a1d21; }
  .sidebar-tabs .nav-link {
    color: #6c757d; }
    .sidebar-tabs .nav-link.active {
      background-color: #212529;
      color: #0866C6; }

.contact-list-link.new {
  background-color: #1c2023; }

.contact-list-link:hover, .contact-list-link:focus {
  background-color: #1c2023; }
  .contact-list-link:hover.new, .contact-list-link:focus.new {
    background-color: #1a1d21; }

.contact-status-indicator {
  border-color: #212529; }

.media-file-list {
  margin-top: 5px;
  padding-left: 0;
  padding-right: 0; }
  .media-file-list .media {
    padding: 10px 25px;
    margin-top: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.05); }

.sidebar-datepicker .ui-datepicker-calendar thead th {
  color: #0866C6; }

.sidebar-datepicker .ui-datepicker-calendar .ui-datepicker-today .ui-state-default {
  background-color: transparent;
  color: #0866C6;
  border-color: #0866C6; }

.sidebar-settings-item {
  border-top: 1px solid rgba(255, 255, 255, 0.05); }
  .sidebar-settings-item .form-control {
    background-color: #16181b; }

/***** MAIN PANEL *****/
.br-pageheader {
  /* padding: 14px 20px; } */
}
.br-pagetitle {
  padding: 20px 0 0 25px;
 }
  .br-pagetitle .icon {
    color: #0866C6; }
  .br-pagetitle h4 {
    color: #0866C6; }

.br-section-wrapper {
  box-shadow: none;
  border: 1px solid #ced4da; }

@media (min-width: 992px) {
  .collapsed-menu .br-menu-link .menu-item-icon {
    transform: translateX(9px); } }

@media (min-width: 992px) {
  .expand-menu .br-menu-link .menu-item-icon {
    transform: translateX(0); } }

.br-subleft {
  background-color: #2c3237; }
  .br-subleft .bd-b {
    border-bottom-color: #495057; }

.br-nav-mailbox .nav-link:hover, .br-nav-mailbox .nav-link:focus {
  background-color: #282d31;
  color: #fff; }

.br-nav-mailbox .nav-link.active {
  background-color: #212529;
  color: #fff; }

.br-nav-mailbox .nav-link + .nav-link {
  margin-top: 1px; }

.br-mailbox-list-item.active::before, .br-mailbox-list-item.active:hover::before, .br-mailbox-list-item.active:focus::before {
  background-color: #0866C6; }

.br-mailbox-list-item + .br-mailbox-list-item {
  border-top: 1px solid #dee2e6; }

.br-msg-body {
  box-shadow: none;
  border: 1px solid #ced4da; }

/********** WIDGET ***********/
/*****************************/
.widget-1,
.widget-2,
.widget-3 {
  border: 1px solid #ced4da; }

.widget-2 {
  border-radius: 3px; }

.widget-3 {
  box-shadow: none; }

/********** LIB STYLES **********/
/********************************/
.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
  background-color: #0866C6; }

.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active {
  background-color: #0866C6; }

/***** CUSTOM STYLES *****/
.wizard-style-1 > .steps > ul .current a .number, .wizard-style-1 > .steps > ul .current a:hover .number, .wizard-style-1 > .steps > ul .current a:active .number {
  background-color: #0759ad; }

.wizard-style-2 > .steps > ul .current a .number, .wizard-style-2 > .steps > ul .current a:hover .number, .wizard-style-2 > .steps > ul .current a:active .number {
  border-color: #0866C6;
  color: #0866C6; }

.wizard-style-3 > .steps > ul .current a, .wizard-style-3 > .steps > ul .current a:hover, .wizard-style-3 > .steps > ul .current a:active {
  color: #0866C6; }
  .wizard-style-3 > .steps > ul .current a .number, .wizard-style-3 > .steps > ul .current a:hover .number, .wizard-style-3 > .steps > ul .current a:active .number {
    background-color: #0866C6; }

/* ############### PROFILE PAGE ############### */
/* ############################################ */
.br-profile-page .card-header {
  background-color: #495057; }

.br-profile-page .card-body {
  background-color: #343a40; }

/** SITEMAP **/
.br-sitemap-section a {
  color: #343a40; }
  .br-sitemap-section a:hover, .br-sitemap-section a:focus {
    color: #0866C6; }

.br-sitemap-section ol > li a {
  color: #0866C6; }
  .br-sitemap-section ol > li a:hover, .br-sitemap-section ol > li a:focus {
    color: #0759ad; }

.br-sitemap-section ul li::before {
  background-color: #0866C6; }

/** CHAT PAGE **/
.br-chatpanel-left .nav .nav-link.active {
  color: #0866C6; }
  .br-chatpanel-left .nav .nav-link.active::after {
    border-bottom-color: #0866C6; }

.br-chatlist .media.selected::before {
  border-left-color: #0866C6; }

.br-chat-body .media.flex-row-reverse .msg-wrapper {
  background-color: #0866C6; }

/********** RTL SUPPORT **********/
/*********************************/
@media (min-width: 992px) {
  .rtl .collapsed-menu .br-menu-link .menu-item-icon {
    transform: translateX(-9px); } }

.rtl .sidebar-tabs .nav-link {
  width: 100%;
  text-align: center; }

.rtl .br-header-left .input-group {
  border-left-color: rgba(255, 255, 255, 0.3); }

.rtl .navicon-left {
  border-left-color: rgba(255, 255, 255, 0.3); }

.rtl .navicon-right {
  border-right-color: rgba(255, 255, 255, 0.3); }

@media (min-width: 992px) {
  .rtl .br-logo {
    border-left-color: rgba(255, 255, 255, 0.3); } }
.bg_card{
  border-radius: 10px;
}
.bt_left {
    display: flex;
    align-items: flex-end;
    height: 100%;
}
.login-wrapper {
  width: 450px;
  border-radius: 10px;
  background: #000;

}
.login-wrapper label{
  color: #d4d4d4;
}
.login-wrapper h1{
  font-size: 22px;
}
.btn-primary {
  color: #fff;
  background-color: #005d9e;
  border-radius: 0;
  border: none !important;
  /* padding: 0 25px; */
}
.br-section-wrapper-form{
  border-radius: 0 !important;
}
.d_carrd.bg_card{
  border-radius: 0;
  padding: 30px;
  border-radius: 10px;
  min-height: 170px;
  max-height: 170px;
}
.d_carrd.bg_card .cd_span{
  font-size: 14px;
  color:#fff;
}
.d_carrd.bg_card p.para{
  font-size: 16px;
  margin-bottom: 5px;
  color:#fff;
}

.d_carrd.bg_card i.c_icon{
  padding: 10px;
    background-color: #333333;
    border-radius: 5px;
    font-size: 40px;
}
.btn-outline-primary {
  color: #ffffff;
  background-color: #2b1d5a;
  background-image: none;
  border: none !important;
}
.btn-outline-danger {
  color: #ffffff;
  background-color: #e02727;
  background-image: none;
  border: none;
}
.bg_1{
  background-color: cadetblue;
}
.bg_2{
  background-color: cadetblue;
}
.bg_3{
  background-color: cadetblue;
}
.bg_4{
  background-color: cadetblue;
}
.bg_5{
  background-color: #f2a154;
}
.bg_6{
  background-color: #4a47a3;
}
.bg_7{
  background-color: cadetblue;
}
.bg_8{
  background-color: #f25287;
}
#ch4{
  margin-top: 15px;
}
.select2-container{
  width: 100% !important;
}
.btn{
    border: 0;
    border-radius: 0;
}
.br-sideleft.sideleft-scrollbar {
    background-image:url(../img/sidebar-bg.jpg);
    background-position: center;
    background-size: cover;
}
.custom-file label {
  color: #585858 !important;
}
.card-body.pd-30.pd-md-60 {
  border: 10px solid #c3c3c3;
}